@page "/category"

<!--------------------------------------
Main
--------------------------------------->
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>Featured in Science</span></h5>
			<div class="card border-0 mb-5 box-shadow">
				<div style="background-image: url(./assets/img/demo/1.jpg); height: 350px; background-size: cover; background-repeat: no-repeat;">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h2 font-weight-bold">
						<a class="text-dark" href="./article.html">Brain Stimulation Relieves Depression Symptoms</a>
					</h2>
					<p class="card-text">
						Researchers have found an effective target in the brain for electrical stimulation to improve mood in people suffering from depression.
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
			</div>
			<h5 class="font-weight-bold spanborder"><span>Latest</span></h5>
			<BlogPostsList />
		</div>
		<div class="col-md-4 pl-4">
			<div class="sticky-top">
				<h5 class="font-weight-bold spanborder"><span>Popular in Science</span></h5>
				<PopularBlogPostsList />
			</div>
		</div>
	</div>
</div>

<div class="container pt-4 pb-4">
	<SubscribeBox />
</div>
<!-- End Main -->

@code {

}
