<div class="container mt-5">
	<footer class="bg-white border-top p-3 text-muted small">
		<div class="row align-items-center justify-content-between">
			<div>
				<span class="navbar-brand mr-2"><strong>Blazing Blog V2</strong></span> 
				Copyright &copy; @DateTime.Today.Year. All rights reserved.
			</div>
			<div>
				Built with <strong>Blazor + .Net 8</strong> by <a target="_blank" class="text-secondary font-weight-bold" href="https://www.youtube.com/@@abhayprince">Abhay Prince</a>.
			</div>
			<div>
				Made with <a target="_blank" class="text-secondary font-weight-bold" href="https://www.wowthemes.net/mundana-free-html-bootstrap-template/">Mundana Theme</a> by WowThemes.net.
			</div>
		</div>
	</footer>
</div>

@code {

}
