<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
<div class="container">
	<a class="navbar-brand" href="/"><strong>Blazing Blog V2</strong></a>
	<button class="navbar-toggler collapsed" type="button" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
				onclick="toggleMenu(event)">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="top-navbar-menu-wrapper" style="">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
			<li class="nav-item">
			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="category">Culture</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="category">Tech</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="category">Politics</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="category">Health</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="category">Collections</a>
			</li>            
			<li class="nav-item">
			<a class="nav-link" href="./about.html">About</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="./docs.html">Template <span class="badge badge-secondary">docs</span></a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto d-flex align-items-center">
			<li class="nav-item highlight">
			<a class="nav-link" href="https://www.wowthemes.net/mundana-free-html-bootstrap-template/">Get this Theme</a>
			</li>
		</ul>
	</div>
</div>
</nav>

@code {

}
